{% extends 'base.html.twig' %}

{% block title %}Single-recipe
{% endblock %}


{% block content %}


	<!-- SubHeader -->
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="{{ asset('assets/images/header.png') }}" data-natural-width="1400" data-natural-height="300">
		<div id="sub_header">
			<div class="container" id="sub_content">
				<div class="row">
					<div class="col-md-12">
						<h1>Single Recipe</h1>
						<!-- End bread-crums -->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
	</section>
	<!-- End SubHeader -->
	<div class="white_bg">
		<div class="container margin_60">
			<div class="row">
				<div class="col-md-8">


					<div class="post-inner">

						<div class="info-icons">
							<div class="semipart">
								<i class="ic icon-x-forks"></i>
								Prep Time 60 minutes
							</div>
							<div class="semipart">
								<i class="ic icon-timer"></i>
								Cook Time 20 minutes
							</div>
							<div class="semipart">
								<i class="ic icon-community2"></i>
								Serving For 4 People
							</div>
						</div>

						<div class="post-img">
							<img src="http://placehold.it/650x350" alt="">
						</div>

						<h3 class="post-title">Lorem ipsum dolor sit amet</h3>
						<div class="post-meta">
							<span class="meta-author">
								<i class="far fa-user"></i>
								<a href="#">Administrator</a>
							</span>
							<span class="meta-date">
								<i class="far fa-calendar-alt"></i>September 30 , 2015</span>
							<span class="meta-comment">
								<i class="far fa-comments"></i>
							</span>
						</div>

						<div class="post-content">
							<h4>Description</h4>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ornare, dolor a aliquet rutrum, dolor turpis condimentum leo, a semper lacus purus in felis. Quisque blandit posuere turpis, eget auctor felis pharetra eu.</p>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

							<h4>Ingredient</h4>
							<div class="ul_list">
								<ul>
									<li>1/3 cup (80ml) milk</li>
									<li>1 red onion, thinly sliced</li>
									<li>1 cup mint leaves, coarsely shredded</li>
									<li>2 tablespoons pine nuts, toasted</li>
									<li>2 tablespoons fresh chives, chopped</li>
									<li>2 tablespoons fresh mint, chopped</li>
									<li>1 teaspoon lemon zest</li>
								</ul>
							</div>
							<!-- End Ingredient -->

							<h4>Instructions</h4>
							<div class="ul_list_default">
								<ol>
									<li>To make sauce, spray a frying pan with oil and place over a medium-high heat.</li>
									<li>Add onion, garlic and cumin. Cook, stirring, for 3-4 minutes until onion has softened.</li>
									<li>Place the peas in a bowl. Use a fork to mash until coarsely crushed. Stir in the haloumi and egg.
									</li>
									<li>Heat 2 tablespoons of oil in a frying pan over medium heat. Pour three 1/4-cupfuls of pea mixture around the pan, allowing room for spreading.
									</li>
									<li>Serve fritters with sauce and salad.</li>
								</ol>
							</div>
							<!-- End Instructions -->
						</div>
					</div>

					<div
						class="stars-tags"><!-- this div to make line -->
					</div>
					<div class="review-box review-percentage">
						<h2 class="review-box-header">Review Title</h2>
						<div class="review-item">
							<h5>Design - 10</h5>
							<span style="width: 100%;"></span>
						</div>
						<div class="review-item">
							<h5>Design - 9.1</h5>
							<span style="width: 91%;"></span>
						</div>
						<div class="review-item">
							<h5>Design - 9.4</h5>
							<span style="width: 94%;"></span>
						</div>
						<div class="review-item">
							<h5>Design - 9</h5>
							<span style="width: 90%;"></span>
						</div>
						<div class="review-item">
							<h5>Design - 9.6</h5>
							<span style="width: 96%;"></span>
						</div>
						<div class="review-summary">
							<div class="review-final-score">
								<h3>9.4</h3>
								<h4>Review Final Score</h4>
							</div>
							<div class="review-short-summary">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.
								</p>
							</div>
						</div>
					</div>

					<div id="commentlist" class="page-content">
						<h3>Comments (
							<span class="color">5</span>
							)</h3>
						<ol class="commentlist clearfix">
							<li class="comment">
								<div class="comment-body clearfix">
									<div class="avatar"><img alt="" src="http://placehold.it/100x100"></div>
									<div class="comment-text">
										<div class="author clearfix">
											<div class="comment-meta">
												<span>admin</span>
												<div class="date">January 15 , 2015 at 10:00 pm</div>
											</div>
											
										</div>
										<div class="text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
										</div>
									</div>
								</div>
							</li>
							<li class="comment">
								<div class="comment-body clearfix">
									<div class="avatar"><img alt="" src="http://placehold.it/100x100"></div>
									<div class="comment-text">
										<div class="author clearfix">
											<div class="comment-meta">
												<span>admin</span>
												<div class="date">January 15 , 2015 at 10:00 pm</div>
											</div>
										
										</div>
										<div class="text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
										</div>
									</div>
								</div>
							</li>
						</ol>
						<!-- End commentlist -->
					</div>

					<div class="comment-form">
						<h3>Leave a reply</h3>
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" id="name" class="form-control" placeholder="Username">
							</div>
							<div class="form-group">
								<input type="text" id="email" class="form-control" placeholder="Email Address">
							</div>
							<div class="form-group">
								<input type="text" id="website" class="form-control" placeholder="Website">
							</div>
							<div class="form-group">
								<textarea id="comment" name="comment" rows="8"></textarea>
							</div>
							<button type="submit" class="btn  btn-primary">Post Comment</button>
						</form>
					</div>


				</div>
				<aside class="col-md-4 sidebar sticky-sidebar">
					<div class="theiaStickySidebar">

						<div class="widget widget-list">
							<div class="widget-title">
								<i class="far fa-folder-open"></i>
								Categories
							</div>
							<ul>
								<li class="cat-item">
									<a href="#">Chicken</a>
								</li>
								<li class="cat-item">
									<a href="#">Salads</a>
								</li>
								<li class="cat-item">
									<a href="#">Soups</a>
								</li>
								<li class="cat-item">
									<a href="#">Fish</a>
								</li>
								<li class="cat-item">
									<a href="#">Pizza</a>
								</li>
								<li class="cat-item">
									<a href="#">Fast Food</a>
								</li>
							</ul>
						</div>
						<!-- End widget -->

						<!-- End widget -->
					</div>
				</aside>
			</div>
			<!-- End row -->

		</div>
		<!-- End container -->
	</div>
	<!-- End white_bg -->


{% endblock %}
