{% extends 'base.html.twig' %}

{% block title %}Community
{% endblock %}


{% block content %}

	<!-- SubHeader -->
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="{{ asset('assets/images/header.png') }}" data-natural-width="1400" data-natural-height="300">
		<div id="sub_header">
			<div class="container" id="sub_content">
				<div class="row">
					<div class="col-md-12">
						<h1>Community</h1>
						<!-- End bread-crums -->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
	</section>
	<!-- End SubHeader -->
	<div class="white_bg">
		<div class="container margin_60">
			<div class="row">
				<div class="col-md-12">
					<div class="forumstatistics">
						<dl class="discussionCount">
							<dt>Topic</dt>
							<dd>
								<span class="number">6124</span>
							</dd>
						</dl>
						<dl class="messageCount">
							<dt>Replies</dt>
							<dd>
								<span class="number">15728</span>
							</dd>
						</dl>
						<dl class="memberCount">
							<dt>Users</dt>
							<dd>
								<span class="number">574</span>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<!-- End row -->
            <br><br><br><br>


			<div class="row">
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-community">
						<div class="thumb">
							<i class="ic icon-community"></i>
						</div>
						<div class="inner">
							<h3>
								<a href="">Exercising and cooking</a>
							</h3>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					<!-- End col-community-->
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-community">
						<div class="thumb">
							<i class="ic icon-community"></i>
						</div>
						<div class="inner">
							<h3>
								<a href="">Healthy Recipes for Babies</a>
							</h3>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					<!-- End col-community-->
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-community">
						<div class="thumb">
							<i class="ic icon-community"></i>
						</div>
						<div class="inner">
							<h3>
								<a href="">Special Diets for losing weight</a>
							</h3>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					<!-- End col-community-->
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-community">
						<div class="thumb">
							<i class="ic icon-community"></i>
						</div>
						<div class="inner">
							<h3>
								<a href="">Ideas for grilling meat at home</a>
							</h3>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					<!-- End col-community-->
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-community">
						<div class="thumb">
							<i class="ic icon-community"></i>
						</div>
						<div class="inner">
							<h3>
								<a href="">Exercising and cooking</a>
							</h3>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					<!-- End col-community-->
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-community">
						<div class="thumb">
							<i class="ic icon-community"></i>
						</div>
						<div class="inner">
							<h3>
								<a href="">Healthy Recipes for Babies</a>
							</h3>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					<!-- End col-community-->
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-community">
						<div class="thumb">
							<i class="ic icon-community"></i>
						</div>
						<div class="inner">
							<h3>
								<a href="">Special Diets for losing weight</a>
							</h3>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					<!-- End col-community-->
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-community">
						<div class="thumb">
							<i class="ic icon-community"></i>
						</div>
						<div class="inner">
							<h3>
								<a href="">Ideas for grilling meat at home</a>
							</h3>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					<!-- End col-community-->
				</div>


			</div>
			<!-- End row -->


		</div>
		<!-- End container -->
	</div>
	<!-- End white_bg -->
{% endblock %}
