{% extends 'base.html.twig' %}

{% block title %}Recipe
{% endblock %}


{% block content %}

	<!-- SubHeader -->
	<section class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('assets/images/recipes.png') }}" data-natural-width="1400" data-natural-height="520">
		<div id="sub_header">
			<div class="container" id="sub_content">
				<div class="row">
					<div class="col-md-12">
						<h1>More than 100 Recipe.</h1>
						<form method="get" action="{{ path('app_recipes') }}">
							<div id="custom-search-input">
								<div class="input-group">
									<input type="text" name="search" class="search-query" placeholder="Search..." value="{{ app.request.query.get('search', '') }}">
									<span class="input-group-btn">
										<button type="submit" class="btn_search">Search</button>
									</span>
								</div>
							</div>
						</form>

					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
	</section>

	<!-- End SubHeader -->


	<div class="container margin_60">
		<div class="main_title">
			<h2 class="nomargin_top">Top Review</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
			<hr class="divider">
		</div>
		<!-- End main_title -->
		<div class="row">
			{% for recipe in recipes %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="recipes-review">
						<div class="recipes-img">
							<img src="http://placehold.it/350x220" alt=""/>

						</div>
						<div class="recipes-content">
							<h3>
								<a href="#">{{ recipe.titleRecipe }}</a>							</h3>

							<div class="col-details">
								<ul class="details">
									<li>
										<img src="http://placehold.it/48x48" class="img-profile" alt="">
									</li>
									<li>
										<h4>Themearabia</h4>
										<ul class="favorites">

											<li>
												<span>235</span>
											</li>
										</ul>
										<ul class="comments">
											<li>
												<i class="far fa-comments"></i>
											</li>
											<li>
												<span>36</span>
											</li>
										</ul>
									</li>
								</ul>
								<div class="review-final-score">
									<h3>9.9</h3>
									<h4>Review Score</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- End container -->

{% endblock %}
